<h1 class="text-center">Edit Task</h1>
<div class="container">
    <form #formTask="ngForm">
        <div class="row justify-content-md-center">
            <div class="form-group col-md-6">
                <label for="exampleFormControlInput1">Title</label>
                <input style=" height: 31px;" type="text" class="form-control" placeholder="Title" id="title" name="title" [(ngModel)]="task.title" #title="ngModel" minlength="6" >
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="form-group col-md-6">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="description" name="description" [(ngModel)]="task.description" #description="ngModel" rows="5"></textarea>
            </div>
        </div> 
        <div class="row justify-content-md-center">
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-primary" (click)="updateTask()" [disabled]="!formTask.form.valid">
                    <span class="fa fa-save" aria-hidden="true"></span>   Save
                </button>
                <button style="margin-left: 18px;" type="button" class="btn btn-info" [routerLink]="['/tasks']">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>  Cancel
                </button>
            </div>
        </div>       
    </form>
</div>